@import '../../../UIKit/Theme/Styles/_variables_global.scss';

.table-list__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
	width: 100%;
}

.table-list__item__name_alfabet {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: $color-orange;
	background-color: $color-gray-dirt;
}

.table-list__item_container {
	display: flex;
	align-items: center;
}

.table-list__item__wrapper {
	display: flex;
	flex-direction: column;
	width: 150px;
}

.table-list__item__name {
	color: $color-black;
	font-size: 18px;
	margin-bottom: 0px;
}

.table-list__item__date {
	color: $color-gray-dirt2;
	font-size: 15px;
}

.table-list__item__onlian_true {
	padding: 5.8px 10.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: $color-gray-dirt;
	color: green;
}

.table-list__item__block_onlian_true {
	width: 6px;
	height: 6px;
	background-color: green;
	border-radius: 100%;
	margin-right: 9.5px;
}

.table-list__item__block_onlian_false {
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 100%;
	margin-right: 9.5px;
}

.table-list__item__wrapper_buttons {
	display: flex;
	align-items: center;
}

.table-list__item__button_view_qr {
	padding: 6px 10px;
	font-size: 14px;
	color: $color-white;
	cursor: pointer;
	transform: 0.3s;
	margin-right: 6px;
	border-radius: 12px;
	background-color: $color-orange;

	&:hover {
		opacity: 0.8;
	}
}

.table-list__item__button_create_qr {
	padding: 6px 10px;
	font-size: 14px;
	color: $color-gray-dirt2;
	cursor: pointer;
	transform: 0.3s;

	&:hover {
		opacity: 0.8;
	}
}

.table-list__item__button_edit {
	padding: 6px 10px;
	font-size: 14px;
	color: $color-orange;
	cursor: pointer;
	transform: 0.3s;
	margin-right: 6px;

	&:hover {
		opacity: 0.8;
	}
}

.table-list__item__button_delete {
	padding: 6px 10px;
	font-size: 14px;
	color: $color-gray-dirt2;
	cursor: pointer;
	transform: 0.3s;

	&:hover {
		opacity: 0.8;
	}
}
